<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body><!-- th:object="${userReqDTO} 왜 리스판스가 아닌가? 보내는거니까! object뒤에는 객체 -->
<form action="#" th:action="@{/userspage/adduser}" th:object="${userReqDTO}"method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br/>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br/>
    <input type="submit" value="Add User">
</form>
</body>
</html>